@-webkit-keyframes clickMeBabyAnimation {
  0% {
    background: #fb5; }
  50% {
    background: #ff9; }
  100% {
    background: #fb5; } }
@keyframes clickMeBabyAnimation {
  0% {
    background: #fb5; }
  50% {
    background: #ff9; }
  100% {
    background: #fb5; } }
.clickMeBaby {
  -webkit-animation: clickMeBabyAnimation 1s;
  animation: clickMeBabyAnimation 1s; }

@-webkit-keyframes contractCardMargin {
  0% {
    margin-left: 30.625px;
    margin-right: 30.625px; }
  100% {
    margin-left: -20.625px;
    margin-right: -20.625px; } }
@keyframes contractCardMargin {
  0% {
    margin-left: 30.625px;
    margin-right: 30.625px; }
  100% {
    margin-left: -20.625px;
    margin-right: -20.625px; } }
@-webkit-keyframes expandCardMargin {
  0% {
    margin-left: -20.625px;
    margin-right: -20.625px; }
  100% {
    margin-left: 30.625px;
    margin-right: 30.625px; } }
@keyframes expandCardMargin {
  0% {
    margin-left: -20.625px;
    margin-right: -20.625px; }
  100% {
    margin-left: 30.625px;
    margin-right: 30.625px; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icon.eot?-bik6n8");
  src: url("../fonts/icon.eot?#iefix-bik6n8") format("embedded-opentype"), url("../fonts/icon.woff?-bik6n8") format("woff"), url("../fonts/icon.ttf?-bik6n8") format("truetype"), url("../fonts/icon.svg?-bik6n8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-damage:before {
  content: "\e90a"; }

.icon-droplet:before {
  content: "\e90b"; }

.icon-dice:before {
  content: "\e915"; }

.icon-pacman:before {
  content: "\e916"; }

.icon-spades:before {
  content: "\e917"; }

.icon-clubs:before {
  content: "\e918"; }

.icon-diamonds:before {
  content: "\e919"; }

.icon-deck:before,
.icon-draw:before {
  content: "\e92e"; }

.icon-coin-dollar:before {
  content: "\e93b"; }

.icon-hammer:before {
  content: "\e996"; }

.icon-magic-wand:before {
  content: "\e997"; }

.icon-heal:before {
  content: "\e998"; }

.icon-trophy:before {
  content: "\e99e"; }

.icon-leaf:before {
  content: "\e9a4"; }

.icon-rocket:before {
  content: "\e9a5"; }

.icon-fire:before {
  content: "\e9a9"; }

.icon-lab:before {
  content: "\e9aa"; }

.icon-target:before {
  content: "\e9b3"; }

.icon-block:before {
  content: "\e9b4"; }

.icon-power:before {
  content: "\e9b5"; }

.icon-eye:before {
  content: "\e9ce"; }

.icon-star-full:before {
  content: "\e9d9"; }

.icon-heart:before {
  content: "\e9da"; }

.icon-heart-broken:before {
  content: "\e9db"; }

.icon-plus:before {
  content: "\ea0a"; }

.icon-cancel:before {
  content: "\ea0d"; }

.icon-deflect:before {
  content: "\ea34"; }

* {
  font-family: 'helvetica neue', helvetica, arial, sans-serif; }

html, body {
  background: #333;
  line-height: normal;
  margin: 0;
  padding: 0; }

button {
  background: #fb5;
  border: none;
  border-radius: 10px;
  color: #333;
  font-weight: bold;
  padding: 10px; }
  button:hover {
    background: #fff;
    cursor: pointer; }

select {
  color: #000; }

.card {
  background: #fff;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 20px;
  width: 165px;
  border-radius: 10px;
  float: left;
  height: 231.0px;
  text-align: left; }
  .card > div {
    height: 100%; }
  .card .description {
    font-size: 15px;
    font-weight: normal;
    border-top: 2px solid #000;
    margin-top: 10px;
    padding-top: 10px; }
  .card.attack {
    background: #c33; }
  .card.draw {
    background: #ff6; }
  .card.oldmaid {
    background: #333; }
  .card.keep {
    background: #336; }
  .card.mana {
    background: #636; }
  .card.modifier {
    background: #3c3; }
  .card.trap {
    background: #f90; }
  .card.attack, .card.keep, .card.mana, .card.modifier, .card.oldmaid {
    color: #fff; }
    .card.attack .description, .card.keep .description, .card.mana .description, .card.modifier .description, .card.oldmaid .description {
      border-color: #fff; }
  .card .backOfCard {
    display: none; }
  .card.faceDown {
    background: #fff;
    color: #000;
    border: 5px solid #000;
    padding: 15px; }
    .card.faceDown .backOfCard {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      text-align: center;
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      /* IE 9 */
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      /* Chrome, Safari, Opera */
      transform: translateX(-50%) translateY(-50%) rotate(-90deg); }
    .card.faceDown .text {
      display: none;
      font-family: Arial, sans-serif; }
  .card .effects {
    font-size: 0.75em; }

.activePlayer .card:hover {
  transform: translateX(5px) translateY(-5px); }

.faces .playerSummary {
  background: #ccc;
  color: #333;
  border-radius: 20px;
  margin: 10px;
  padding: 10px; }
  .faces .playerSummary.inactivePlayer {
    background: #888;
    color: #fff; }
  .faces .playerSummary .card {
    height: 57.75px;
    width: 41.25px;
    border-radius: 2.5px;
    font-size: 5px;
    margin: 2.5px;
    padding: 5px;
    margin-left: -5.15625px;
    margin-right: -5.15625px; }
    .faces .playerSummary .card .description {
      font-size: 2.5px;
      margin-top: 2.5px;
      padding-top: 2.5px; }
    .faces .playerSummary .card.faceDown {
      border: 1px solid #000;
      padding: 0.5px; }

.hand {
  background: #888;
  border-radius: 20px;
  margin: 10px;
  color: #fff;
  padding: 10px; }
  .hand a {
    color: #ffc; }
  .hand .equippedCards {
    float: right;
    margin-bottom: 30px; }
    .hand .equippedCards .card {
      border: 5px solid #fff;
      margin: 0;
      padding: 15px; }
  .hand .playerSummary {
    background: #333;
    border-radius: 10px;
    margin: 10px;
    min-height: 60px;
    padding: 20px; }
    .hand .playerSummary > div {
      float: left;
      margin-right: 20px; }
      .hand .playerSummary > div.actionButtons {
        float: right;
        margin-top: -7.5px;
        margin-right: 0; }
  .hand.inactivePlayer {
    background: rgba(255, 255, 255, 0.25); }
    .hand.inactivePlayer .equippedCards .card {
      border-width: 2.5px;
      padding: 7.5px; }
    .hand.inactivePlayer .playerSummary {
      border-radius: 5px;
      float: left;
      height: 115.5px;
      margin: 5px;
      padding: 10px;
      width: 165px; }
      .hand.inactivePlayer .playerSummary > div {
        float: none;
        margin-right: 0; }
    .hand.inactivePlayer .card {
      border-radius: 5px;
      box-shadow: 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.5);
      font-size: 10px;
      height: 115.5px;
      margin: 5px;
      padding: 10px;
      width: 82.5px; }
      .hand.inactivePlayer .card.clickable:hover {
        border: 2.5px solid #fff;
        margin-bottom: 0;
        margin-right: 0;
        padding: 7.5px;
        transform: translate(-2.5px, -2.5px); }
      .hand.inactivePlayer .card.faceDown {
        border: 2.5px solid #000;
        padding: 7.5px; }
      .hand.inactivePlayer .card .description {
        font-size: 7.5px;
        border-top-width: 1px;
        margin-top: 5px;
        padding-top: 5px; }
  .hand.dead {
    background: #f00;
    opacity: 50%; }
    .hand.dead .playerSummary {
      text-decoration: line-through;
      height: auto;
      width: 200px; }

.instructions {
  background: #ff0;
  border-radius: 20px;
  color: #000;
  margin: 10px;
  padding: 20px; }
  .instructions .inputContainer {
    margin-top: 10px; }
    .instructions .inputContainer input {
      font-size: 1.1em;
      padding: 5px; }

.playArea {
  background: #ff0;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 1; }
  .playArea .cards.bothCardAndModifierCardArePresent > :first-of-type {
    margin-bottom: -184.8px;
    -ms-transform: rotate(-1deg) translate(-10px, 0px);
    -webkit-transform: rotate(-1deg) translate(-10px, 0px);
    transform: rotate(-1deg) translate(-10px, 0px); }
  .playArea .cards.bothCardAndModifierCardArePresent > :last-of-type {
    -ms-transform: rotate(1deg) translate(10px, 0px);
    -webkit-transform: rotate(1deg) translate(10px, 0px);
    transform: rotate(1deg) translate(10px, 0px); }
  .playArea .card {
    float: none; }

.clear {
  clear: both; }

.clickable {
  cursor: pointer; }

.playerSummary.clickable:hover {
  background: #ffc;
  color: #333; }

.selectGame {
  color: #fff;
  font-size: 50px;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
