body {
	background: #333;
}

.hand {
	background: rgba(255,255,255,0.25);		
	margin: 10px;
	color: #fff;
	padding: 10px;
}

.hand a {
	color: #ffc;
}

.playArea {
	background: #ccf;
	border: 1px solid black;
	margin: 10px;
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.card {
	background: #fff;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
	color: #000;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin: 10px;
	padding: 20px;
	width: 100px;
	border-radius: 10px;
	float: left;
	height: 150px;
}

.card .description {
	font-size: 15px;
	font-weight: normal;
}

.clear {
	clear: both;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: 0.9;
}

.card.attack {
	background: #c33;
	color: #fff;
}