@-webkit-keyframes clickMeBabyAnimation {
    0%   {background: $orange;}
    50% {background: $lightOrange;}
    100%   {background: $orange;}
}

@keyframes clickMeBabyAnimation {
    0%   {background: $orange;}
    50% {background: $lightOrange;}
    100%   {background: $orange;}
}

.clickMeBaby {
	-webkit-animation: clickMeBabyAnimation 1s;
    animation: clickMeBabyAnimation 1s;
}

@-webkit-keyframes contractCardMargin {
    0% 
	{ 
		margin-left: $cardMargin + $cardWidth / 8;
		margin-right: $cardMargin + $cardWidth / 8;
	}
	100%
	{
		margin-left: (0 - ($cardWidth / 8));
		margin-right: (0 - ($cardWidth / 8));
	}
}
@keyframes contractCardMargin {
    0% 
	{ 
		margin-left: $cardMargin + $cardWidth / 8;
		margin-right: $cardMargin + $cardWidth / 8;
	}
	100%
	{
		margin-left: (0 - ($cardWidth / 8));
		margin-right: (0 - ($cardWidth / 8));
	}
}

@-webkit-keyframes expandCardMargin {
	0%
	{
		margin-left: (0 - ($cardWidth / 8));
		margin-right: (0 - ($cardWidth / 8));
	}
    100% 
	{ 
		margin-left: $cardMargin + $cardWidth / 8;
		margin-right: $cardMargin + $cardWidth / 8;
	}
}
@keyframes expandCardMargin {
	0%
	{
		margin-left: (0 - ($cardWidth / 8));
		margin-right: (0 - ($cardWidth / 8));
	}
    100% 
	{ 
		margin-left: $cardMargin + $cardWidth / 8;
		margin-right: $cardMargin + $cardWidth / 8;
	}
}

@-webkit-keyframes enlargeCard {
	0%
	{
		transform: scale(1, 1);
	}
    100% 
	{ 
		transform: scale(1.1, 1.1);
	}
}
@keyframes enlargeCard {
	0%
	{
		transform: scale(1, 1);
	}
    100% 
	{ 
		transform: scale(1.1, 1.1);
	}
}