<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Card Game</title>
	
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>	
	
	<script src="js/gameApp.js"></script>
	<script src="js/gameController.js"></script>
	<script src="js/attackService.js"></script>
	<script src="js/callbacks.js"></script>
	<script src="js/deckRepository.js"></script>
	<script src="js/deckService.js"></script>
	<script src="js/gameData.js"></script>
	<script src="js/gameService.js"></script>
	<script src="js/inputService.js"></script>
	<script src="js/playerData.js"></script>
	<script src="js/playerService.js"></script>
	<script src="js/targetingService.js"></script>
	<script src="js/userInterface.js"></script>

</head>
<body ng-app="gameApp">

	<div ng-controller="gameController">
		
		<div class="instructions" ng-show="userInterface.instructions">
			{{userInterface.instructions}}
			
			<div ng-show="userInterface.shouldShowTextInput" class="inputContainer">
				<input ng-model="inputService.textInput" />
				<button ng-click="inputService.handleTextInput(attackService)">Go</button>
			</div>
			
		</div>
		<div class="playArea" ng-show="gameService.activeCard">
			<div ng-class="['card', gameService.activeCard.type]" ng-show="gameService.activeCard">
				{{gameService.activeCard.title}}
				<div class="description">{{gameService.activeCard.description}}</div>
			</div>
			<button ng-click="cancelActiveCard()">Cancel</button>
			<button ng-click="discardActiveCard()" ng-show="gameService.activeCard.type != 'oldmaid'">Discard</button>
			<div class="clear"></div>
		</div>
		
		<div ng-repeat="player in playerData.players" ng-class="{hand:true, inactivePlayer:!$first, dead:player.isDead}">
			<div ng-class="{playerSummary: true, clickable: !$first}" ng-click="clickPlayer(player)">
				<div><b>{{player.name}}</b></div>
				<div ng-show="!player.isDead">Hit points: {{player.hitPoints}}</div>
				<div ng-show="!player.isDead">Victory pts.: {{player.victoryPoints}}</div>
				<div ng-show="$first">Actions remaining: {{gameService.actions < 0 ? 0 : gameService.actions}}</div>
				<div ng-show="$first">Mana: {{gameService.mana}}</div>
		
				<div class="actionButtons" ng-show="$first">
					<button ng-click="gameService.recycleHand()" ng-show="gameService.isHandRecyclingAllowed()">Recycle hand</button>
					<button ng-click="gameService.nextTurn()">Next turn</button>
				</div>
		
				<div class="clear"></div>
			</div>
			
			<div ng-repeat="card in player.hand track by $index" ng-class="['card', 'clickable', card.type]" ng-click="clickCard(card, player)">
				{{card.title}}
				<div class="description">{{card.description}}</div>
			</div>
			
			<div class="equippedCards" ng-show="player.equippedCards.length">
				<div ng-repeat="card in player.equippedCards track by $index" ng-class="['card', card.type]">
					{{card.title}}
					<div class="description">{{card.description}}</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>
		
	</div>

</body>
</html>